.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
  }
  
  .content {
    max-width: 600px;
    padding: 20px;
  }
  
  .content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: rgb(77, 6, 6);
  }
  
  .imageWrapper {
    margin-bottom: 2rem;
  }
  
  