.footerArea {
    background-color: #f8f9fa;
    padding: 50px 35px;
    border-top: 5px solid #40ba37;
  }
  
  .footerAreaWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  .h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #333;
  }
  
  .p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 10px;
    color: #333;
  }
  
  .ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .ul li {
    margin: 0;
  }
  
  .ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
  }
  
  .ul li a:hover {
    text-decoration: underline;
  }
  
  .copyRight {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  @media (max-width: 767px) {
    .footerAreaWrap {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  